<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FormController">
    <h1 class="page-header">Forms</h1>

    <div class="row placeholders">
        <ul class="nav nav-tabs">
            <li class="active"><a href="forms.html">Forms</a></li>
            <li><a href="form-fields.html">Fields</a></li>
        </ul>
        <table id="usertable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th><span class="caret"></span> Form Name</th>
                    <th><span class="caret"></span> Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input ng-model="name" type="text" placeholder="name">
                    </td>
                    <td>
                        <span ng-click="addForm()" class="glyphicon glyphicon-plus" style="margin-left:10px;"></span>
                        <span ng-click="updateForm()" class="glyphicon glyphicon-ok" style="margin-left:10px;"></span>
                    </td>
                </tr>
                <tr ng-repeat="form in forms track by $index">
                    <td><a>{{form.name}}</a></td>
                    <td>
                        <span ng-click="deleteForm($index)" class="glyphicon glyphicon-remove" style="margin-left:10px;"></span>
                        <span ng-click="selectForm($index)" class="glyphicon glyphicon-pencil" style="margin-left:10px;"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>