<div class="hero-spacer">

    <div class="row">
        <div class="col-lg-12">
            <h1></h1>
        </div>
    </div>

    <div class="row placeholders">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="url" class="col-sm-2 control-label">Poster Image Url:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="url" placeholder="Image Url">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Movie Name:</label>
                <div class="col-sm-5">
                    <input type="name" class="form-control" id="password" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="director" class="col-sm-2 control-label">Director:</label>
                <div class="col-sm-5">
                    <input ng-model="firstname" type="text" class="form-control" id="director" placeholder="Director">
                </div>
            </div>
            <div class="form-group">
                <label for="actors" class="col-sm-2 control-label">Actors:</label>
                <div class="col-sm-5">
                    <input ng-model="lastname" type="text" class="form-control" id="actors" placeholder="Actors">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-5">
                    <input ng-model="email" type="email" class="form-control" id="description" placeholder="Description">
                </div>
            </div>
            <div class="form-group">
                <label for="year" class="col-sm-2 control-label">Year:</label>
                <div class="col-sm-5">
                    <input ng-model="email" type="number" class="form-control" id="year" placeholder="Year">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>