<div class="super-hero-spacer">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-3">
            <img width="400px" class="img-responsive img-rounded" src="{{movieInfo.movie.ImageUrl}}" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-8">
            <h1 style="margin-top:0">{{movieInfo.movie.Name}} ({{movieInfo.movie.Year}})</h1>

            <p>{{movieInfo.movie.Description}}</p>
            <p><font color="blue">Director</font>: {{movieInfo.movie.Director}}</p>
            <p><font color="blue">Stars</font>: {{movieInfo.movie.Actors}}</p>
            <p><font color="blue">Rating</font>: {{movieInfo.movie.Rating}}</p>
            <p><font color="blue">Genre</font>: {{movieInfo.movie.Genre}}</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

</div>